body {
  background: #eee;
}

.header {
  text-align: center;
  margin-top: 5%;
  text-transform: uppercase;
  font-weight: 600;
}

.input {
  margin-top: 2rem;
}

.input-group {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.87);
  border-radius: 0.25rem;
}

.list-items {
  margin-top: 3rem;
  border-radius: 0.25rem;
}

.completed {
  position: relative;
  color: rgba(0, 0, 0, 0.38);
}

.completed:before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.38);
  position: absolute;
  top: 2px;
  content: "";
  width: 100%;
  height: 50%;
}

.checkmark {
  color: green;
  visibility: hidden;
  margin-right: 1rem;
}

.checkmark--completed {
  visibility: visible;
}

.item {
  margin-bottom: 0.5rem;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.87);
}
